/* Font */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

/* Navbar */
nav {
  background: #161111;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
}

nav a {
  color: rgb(41, 8, 8);
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #052738;
}

/* Sections */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* Projects */
.projects-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Media */
.media-img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.media-video {
  width: 320px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  background: #1f077e;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
}
.footer a {
  color: #05293b;
  text-decoration: none;
}
 
      